#testimonial {
    text-align: center;
    background-color: #ef8172;
}
h2 {
    font-family: 'Outfit', sans-serif;
    font-size: 2rem;
    line-height: 1;
}
.testimonial-img {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
.carousel-item {
    padding: 7% 15%;

}
